section {
    width: 100vw;
    height: 100vh;
}

/*-----S1-----*/
#section1{
    display: flex;
    align-items: flex-end;
}

img#backgroundImg {
    position: absolute;
    display: flex;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#about {
    font-family: 'Avenir Next';
}