/*-----COLORS-----*/
:root {
    --Light-Cobalt-Blue: #8AB6E3;
    --Chineese-Silver: #CDCCCC;
    --Outer-Space: #404C54;
    --Raisin-Black: #1E1F26;
}

/*-----SCROLLBAR-----*/
::-webkit-scrollbar {
    width: 0px;
}

/*-----GLOBAL-----*/
h1 {
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-family: six-hands-brush, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: white;
}

h3 {
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: white;
}

h4 {
    font-family: zuume, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--Light-Cobalt-Blue);
}

a {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--Chineese-Silver);
}

html {
    overflow: none;
    scroll-behavior: smooth;
    background-color: #1E1F26;
}

body {
    margin: 0;
}

/*-----HEADER-----*/
header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

#logoHeader {
    width: 100px;
}

header>div {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50px;
    top: 50px;
    width: 100px;
}

header>div>a {
    cursor: pointer;
    text-transform: capitalize;
    transition: ease-in-out 0.25s;
}

header>div>hr {
    margin: 0px;
    width: 25%;
    border: none;
    border-bottom: solid 1px white;
}

.menuHide {
    display: none;
}

.menuShow {
    display: block;
}