/*-----COLORS-----*/
:root {
    --Azureish-White: #D0E0F4;
    --Light-Cobalt-Blue: #8AB6E3;
    --Chineese-Silver: #CDCCCC;
}

/*-----SCROLLBAR-----*/
::-webkit-scrollbar {
    width: 0px;
}

/*-----GLOBAL-----*/
h1 {
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    color: var(--Azureish-White);
}

h2 {
    font-family: six-hands-brush, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    color: white;
}

h3 {
    font-family: eloquent-jf-pro, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
    color: var(--Azureish-White);
}

h4 {
    font-family: zuume, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--Light-Cobalt-Blue);
}

a {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--Chineese-Silver);
}

html {
    overflow: none;
    scroll-behavior: smooth;
    background-color: #1E1F26;
}

body {
    margin: 0;
}

/*-----HEADER-----*/
header {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
}

header>div>a {
    text-transform: capitalize;
    transition: ease-in-out 0.25s;
}

#logoHeader {
    width: 100px;
}